* {
	box-sizing: border-box;
}

#carousel {
	margin: 40px auto;
	width: 400px;
	height: 300px;
	text-align: center;
	list-style: none;
	overflow: hidden;
	border: solid 3px;
}
#carousel ul {
	width: 2000px;
	height: 300px;
	display: block;
	margin: 0 0;
	padding: 0 0;
}
li {
	list-style: none;
	float: left;
}
img {
	width: 400px;
	height: 300px;
}